.heading {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color:brown;
  font-weight: 400;
}
.heading-2 {
  font-size: 18px;
  font-family:Arial, Helvetica, sans-serif;
  color: crimson;
  font-weight: 400;
}
.main-heading {
  font-size: 25px;
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 600;
}